/* CSS Document */


#l {
	font-weight: lighter;
	text-decoration: overline;
}

#n {
	font-weight: normal;
}

#b {
	font-weight: bold;
}

#bb {
	font-weight: bolder;
}

#stamp {
	border-width: 10px;
	border-color: rgb(178, 212, 212);
	border-style: dashed;
	
	width: 100px;
	height: 100px;
	margin: auto;
}

#content {
	background: rgb(178, 212, 212);
	height: 100px;	
	text-align: center;
   	vertical-align: middle;
	line-height: 100px;
}
